<!DOCTYPE html>

<head>
    <title>title</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel="stylesheet" href="./styles/main.css">
</head>

<body>

    <div class="input_div">
        <input type="text" name="title" placeholder="Пошук статті.." class="input">
    </div>

     <ul class="main_title">

     </ul>
     
      <form action="" class="form">
          <input type="text" name="title" placeholder="Назва статті.." class="title">
          <textarea type="text" name="text" placeholder="Текст.." class="text"></textarea>
          <button type="submit" class="btn">Push</button>
       </form>
    
    <script src="./js/main.js"></script>
</body>

</html>
